@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    max-width: 1200px;
    background: url('../img/header-fone.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: .5em;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .header-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: .5em;
            p {
                padding: .3em;
                color: #fff;
                font-size: .8em;
            }
        }
    }
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-tamplate {
    display: grid;
    margin: 2em;
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #000;
        font-size: 1em;
        text-align: left;
        button {
            background: rgb(85,0,99);
            background: linear-gradient(90deg, rgba(85,0,99,1) 0%, rgba(121,9,115,1) 35%, rgba(24,37,130,1) 100%);
            border: none;
            border-radius: .2em;
            color: #fff;
            font-size: 1.5em;
            padding: .5em 1.1em;
            font-weight: 700;
            margin: .4em;
            transition: 1s;
            &:hover {
                transition: all ease 1s;
                background: rgb(75,32,161);
                background: linear-gradient(90deg, rgba(75,32,161,1) 0%, rgba(9,85,121,1) 39%, rgba(157,28,113,1) 100%);
            }
        }
        .bold {
            font-weight: 700;
            font-size: 2em;
        }
    }
}

.center {
    margin: 1em 0;
    text-align: center;
    width: 100%;
    h1 {
        color: #000;
        font-size: 2em;
        margin: 0 auto;
        font-weight: 400;
        span {
            background: linear-gradient(135deg, #331ab1 20%, #ac10c1 70%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.block {
    border-radius: .4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 1.5em;
    .text {
        padding: .5em;
        h1 {
            font-weight: 700;
            font-size: 1.5em;
            color: #000;
            margin: .3em;
        }
        p {
            font-weight: 300;
            font-size: 1em;
            color: #767676;
        }
    }
}

.gradient {
    background: rgb(161,32,147);
    background: linear-gradient(90deg, rgba(161,32,147,1) 0%, rgba(121,9,115,1) 39%, rgba(28,44,157,0.5270483193277311) 100%);
    padding: 2em;
}

.item {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 2em;
    background-color: #fff;
    border-radius: .4em;
    position: relative;
    opacity: .6;
    .ava {
        position: absolute;
        top: -73%;
        left: 25%;
    }

    p {
        font-size: 1em;
        color: #000;
        font-weight: 300;
        padding: 1em;
    }

    .line {
        width: 25%;
        margin: 0 auto;
    }

    .under-line {
        font-size: .6em;
        color: #767676;
        padding: .4em;
        margin: 0 auto;
    }
}

.active {
    opacity: 1;
}
footer {
    background: rgb(161,32,147);
    background: linear-gradient(90deg, rgba(161,32,147,1) 0%, rgba(121,9,115,1) 39%, rgba(28,44,157,1) 100%);
    color: #fff;
    border: .4em;
    .footer-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em;
        font-size: .9em;
    }
}

.head {
    display: flex;
    flex-direction: column;
    padding: .8em;
    color: #fff;
    background: rgb(85,0,99);
    background: linear-gradient(90deg, rgba(85,0,99,1) 0%, rgba(121,9,115,1) 35%, rgba(24,37,130,1) 100%);
    font-size: 1em;
    width: 100%;
    text-align: center;
    display: none;
    .head-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 1em;
        p {
            margin-left: .5em;
        }
    }
}

.menu {
    height: 0px;
    transition: all ease .5s;
}

@media screen and (max-width: 940px) {
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);
    }
    .item {
        .ava {
            position: absolute;
            top: -116%;
            left: 39%;
        }
    }
    .block {
        text-align: center;
    }

    header {
        display: none;
    }

    .head {
        display: flex;
    }
}

@media screen and (max-width:842px) {
    .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .item {
        .ava {
            position: absolute;
            top: -116%;
            left: -14%;
        }
    }
    .gradient {
        padding: 0;
    }

    .block {
        margin: 0;
    }
}

@media screen and (max-width:570px) {
    .item {
        .ava {
            display: none;
        }
    }
}